<p><%= link_to "return to warehouses itmes", warehouse_items_path %></p>
<p><%= link_to "return to user", admin_admin_users_path %></p>
<table>
  <thead>
    <tr> 
      <th>Departments</th>
    </tr>
    <br/>
    <%= link_to "New Department", new_department_path  %>

  </thead>
  <tbody>
  <% @departments.each do |department| %>
  <tr>
    <td>
      <%= department.department_name %>
    </td>
    <td>
      <%= link_to "Edit", edit_department_path(department) %>
      <%= link_to "Delete", department_path(department), method: :delete %>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>