<%= form_for @department do |f| %>
    <% @department.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  <div class="field">
    <%= f.label :department_name %>
    <br/>
    <%= f.text_field :department_name %>
    <br/>
    <%= f.submit %>
  </div>
<% end %>