<%= form_for @warehouse_item do |f| %>
    <% @warehouse_item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  <div class="field">
    <%= f.label :item_name %>
    <br/>
    <%= f.text_field :item_name %>
    <br/>
    <%= f.label :quantity_total %>
    <br/>
    <%= f.text_field :quantity_total %>
    <br/>
    <h3>Departments</h3>
    <div id="warehouse_items_departments">
    <% f.object.warehouse_items_departments.build %>
      <%= f.fields_for :warehouse_items_departments do |warehouse_items_department| %>
        <%= render 'warehouse_items_department_fields', f: warehouse_items_department %>
      <% end %>
      <div class="links">
      <%= link_to_add_association 'add warehouse_items_department', f, :warehouse_items_departments %>
      </div>
    </div>
    <%= f.submit %>
  </div>
<% end %>